#footer {
  position: relative;
  bottom: 0;

  .line-footer {
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0;
  }
  .desc {
    padding: 0 340px;
    display: flex;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 26px;
  }
}
