#header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    img {
        height: 100%;
    }

    .avatar {
        display: flex;

        .name { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 8px;

            p {
                font-style: italic;
                font-size: 12px;
                font-weight: 10;
            }

            h5 {
                display: flex;
                justify-content: flex-end;
                font-weight: 400;
            }
        }

        
    }
}